body{
    background-color: #033430;
}
.logo{
    height: 50px;
    width: 150px;
    padding: 15px;
   
}
.sections{
    height: 1000px;
    display: flex;
    flex-direction: row;
}
.section1{
    padding: 0;
height: 900px;
width: 52%;
background-color: #00674A;
color: #FFFFFF;
border-radius: 100px;
}
.myh1{
    padding: 40px 60px;
    font-size: 40px;
}
.fa-check{
    color: greenyellow;
    margin-left: 35px;
}
.headers{
    color: #FFFFFF;
}
.myh{
    color: #FFFFFF;
    margin-left: 20px;
    font-size: 25px;
}
.myp{
    color: #B8C5C2;
    margin-left: 70px;
    font-size: 22px;
    text-align: justify;
    width: 450px;
}
.box{
    height: 270px;
    width: 400px;
    background-color: #033430;
    margin-left: 350px;
    border-radius: 100px;
    border-bottom-left-radius: 0px;
}
.section2{
height: 900px;
width: 48%;
background-color: #FFFFFF;
color: #001E2B;
border-radius: 50px;
}
.sign{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    font-weight: lighter;
}
.see{
    font-size: 20px;
    text-align: center;
}
input[type=text]{
    margin-left: 100px;
    width: 470px;
    background-color: #FAFBFC;
    height: 80px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
}
input[type=password]{
    margin-left: 100px;
    background-color: #FAFBFC;
    height: 80px;
    width: 470px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
}
input:focus{
    border: 8px solid rgb(110, 110, 223);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: blue;
    font-size: 13px;
    }
    input:focus::placeholder{
        color: blue;
    }
    .check{
        margin-top: 30px;
        margin-left: 100px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
.create{
    width: 440px;
    margin-left: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #00EC64;
    border: 1px solid black;
}
.create:hover{
    border-radius: 100px;
}
.or{
    margin-left: 280px;
}
.signin{
   height: 50px; 
   width: 440px;
   margin-left: 100px;
   font-size: 15px;
   margin-top: 10px;
   background-color: white;
}
.sign:hover{
    border-radius: 100px;
}
.login{
    text-align: center;
}
footer ul{
    /* list-style: none; */
    color: #00EC64;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* width: 80%; */
    margin-left: 600px;
}
footer ul li{
width:30%;
margin-top: -55px; 

}
footer p{
    color: white;
    margin-left: 70px;
    margin-top: -55px;
    width: 50%;
}
@media screen and (min-width:200px) {
    .logo{
        width: 8.33%;
        width: 16.66%;
        width: 25%;
        width: 33.33%;
        width: 41.66%;
        width: 50%;
        width: 58.33%;
        width: 66.66%;
        width: 75%;
        width: 83.33%;
        width: 91.66%;
        width: 100%;
    }
}
@media screen and (max-width:1080px) {
    .create{
    width: 300px;
    margin-left: 100px;
    }
    input[type=text]{
        margin-left: 70px;
        width: 400px;    
    }
    input[type=password]{
        margin-left: 70px;
        width: 400px;    
    }
    .check{
        margin-left: 60px;
    }
    .signin{
        width: 300px;
        margin-left: 100px;
    }
    .or{
        margin-left: 180px;
    }
    footer ul{
        margin-left: 500px;
    }
    footer ul li{
    width:55%;
    }
}
@media screen and (max-width:1020px) {
    .section1{
        height: 940px;
    }
    .myp{
        width: 380px;
    }
    input[type=text]{
        margin-left: 80px;
        width: 320px;    
    }
    input[type=password]{
        margin-left: 80px;
        width: 320px;    
    }
    .or{
        margin-left: 250px;
    }
    .create{
        width: 300px;
        margin-left: 70px;
        }
    .signin{
        width: 300px;
        margin-left: 70px;
    }
    footer ul{
        margin-left: 450px;
        width:50%;
    }
    footer ul li{
        font-size: 20px;
    }
}
@media screen and (max-width:880px) {
    .logo{
        margin-left: 200px;
    }
    .myp{
        display: none;
    }
    .section2{
        min-width: 80%;
        margin-left: 80px;
    }
    input[type=text]{
        margin-left: 120px;
        width: 440px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 120px;
    width: 440px;
    font-size: 25px;
}
.check{
    margin-left: 80px;
width: 120px;
}
.create{
    width: 410px;
    margin-left: 120px;
    }
    .or{
        margin-left: 320px;
    }
    .signin{
        width: 400px;
        margin-left: 120px;
    }
    footer ul{
        margin-left: 500px;
        width:80%;
        font-size: 20px;
    }
}
@media screen and (max-width:850px) {
    
    footer ul{
        margin-left: 450px;
        width:85%;
    }
    footer ul li{
        font-size: 25px;
    }
    input[type=text]{
        margin-left: 110px;
        width: 410px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 110px;
    width: 410px;
    font-size: 25px;
}
}
@media screen and (max-width:800px) {
    .section1{
        display: none;
    }
    footer ul{
        margin-left: 250px;
        width:70%;
        display: flex;
        flex-direction: column-reverse;
    }
    footer ul li{
        font-size: 25px;
    }
    .logo{
        padding: 10px;
        margin-left: -30px;
}
}
@media screen and (max-width:720px) {
    input[type=text]{
        margin-left: 80px;
        width: 400px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 80px;
    width: 400px;
    font-size: 25px;
}
.check{
    margin-left: 20px;
width: 120px;
}
.create{
    width: 350px;
    margin-left: 80px;
    }
    .or{
        margin-left: 250px;
    }
    .signin{
        width: 350px;
        margin-left: 80px;
    }
    .section1{
        display:none;
    }
}
@media screen and (max-width:620px) {
    .section2{
        width: 90%;
    }
    footer ul{
        margin-left: 250px;
        display: flex;
        flex-direction:column-reverse;
    }
    footer ul li{
        font-size: 25px;
        width:100%;
    }
    input[type=text]{
        margin-left: 60px;
        width: 400px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 60px;
    width: 400px;
    font-size: 25px;
}
.check{
    margin-left: -10px;
width: 120px;
}
}
@media screen and (max-width:570px) {
    
    footer ul{
        margin-left: 220px;
        display: flex;
        flex-direction:column-reverse;
    }
    footer ul li{
        font-size: 25px;
        width:100%;
    }
    input[type=text]{
        margin-left: 40px;
        width: 370px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 40px;
    width: 370px;
    font-size: 25px;
}
.check{
    margin-left: -5px;
    width: 90px;
}
.create{
    width: 300px;
    margin-left: 70px;
    }
    .or{
        margin-left: 190px;
    }
    .signin{
        width: 300px;
        margin-left: 70px;
    }
}
@media screen and (max-width:520px) {   
    footer ul{
        margin-left: 220px;
        display: flex;
        flex-direction:column-reverse;
    }
    footer ul li{
        font-size: 25px;
        width:100%;
    }
    input[type=text]{
        margin-left: 40px;
        width: 330px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 40px;
    width: 330px;
    font-size: 25px;
}
.check{
    margin-left: -15px;
    width: 90px;
}
.checkp{
    margin-left: -30px;
}
.create{
    width: 300px;
    margin-left: 40px;
    }
    .or{
        margin-left: 190px;
    }
    .signin{
        width: 300px;
        margin-left: 40px;
    }
}
@media screen and (max-width:480px) {   
    footer ul{
        margin-left: 220px;
        display: flex;
        flex-direction:column-reverse;
    }
    footer ul li{
        font-size: 25px;
        width:100%;
    }
    input[type=text]{
        margin-left: 35px;
        width: 300px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 35px;
    width: 300px;
    font-size: 25px;
}
.check{
    margin-left: -15px;
    width: 80px;
}
.checkp{
    margin-left: -30px;
    font-size: 13px;
}
.create{
    width: 300px;
    margin-left: 40px;
    }
    .or{
        margin-left: 190px;
    }
    .signin{
        width: 300px;
        margin-left: 40px;
    }
}
@media screen and (max-width:440px) {   
    footer ul{
        margin-left: 220px;
        display: flex;
        flex-direction:column-reverse;
    }
    footer ul li{
        font-size: 15px;
        width:100%;
    }
    input[type=text]{
        margin-left: 35px;
        width: 250px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 35px;
    width: 250px;
    font-size: 25px;
}
.check{
    margin-left: -15px;
    width: 63px;
}
.checkp{
    margin-left: -30px;
    font-size: 13px;
}
.create{
    width: 250px;
    margin-left: 40px;
    }
    .or{
        margin-left: 190px;
    }
    .signin{
        width: 250px;
        margin-left: 40px;
    }
}
@media screen and (max-width:420px) { 
    
    footer ul{
        margin-left: 220px;
        display: flex;
        flex-direction:column-reverse;
    }
    footer ul li{
        font-size: 15px;
        width:100%;
    }
    input[type=text]{
        margin-left: 25px;
        width: 220px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 35px;
    width: 220px;
    font-size: 25px;
}
.check{
    margin-left: -15px;
    width: 65px;
}
.checkp{
    margin-left: -30px;
    font-size: 13px;
}
.create{
    width: 250px;
    margin-left: 40px;
    }
    .or{
        margin-left: 190px;
    }
    .signin{
        width: 250px;
        margin-left: 40px;
    }
}
@media screen and (max-width:390px) { 
    .create{
        width: 220px;
        margin-left: 40px;
        }
        .or{
            margin-left: 120px;
        }
        .signin{
            width: 220px;
            margin-left: 40px;
        }
        .section2{
            height: 920px;
        }
        footer ul{
            margin-left: 220px;
            margin-top: 40px;
            display: flex;
            flex-direction:column-reverse;
        }
        footer ul li{
            font-size: 15px;
            width:100%;
        }
    }
    @media screen and (max-width:350px) { 
    .create{
        width: 200px;
        margin-left: 30px;
        }
        .or{
            margin-left: 120px;
        }
        .signin{
            width: 200px;
            margin-left: 30px;
        }
    }