html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: #033430;
}
.logo{
    height: 50px;
    width: 150px;
    padding: 15px;
   
}
input{
    outline: none;
}
.sections{
    height: 1000px;
    display: flex;
    flex-direction: row;
}
.section1{
    padding: 0;
height: 900px;
width: 52%;
background-color: #00674A;
color: #FFFFFF;
border-radius: 100px;
}
.myh1{
    padding: 40px 60px;
    font-size: 40px;
}
.fa-check{
    color: greenyellow;
    margin-left: 35px;
}
.headers{
    color: #FFFFFF;
}
.myh{
    color: #FFFFFF;
    margin-left: 20px;
    font-size: 25px;
}
.myp{
    color: #B8C5C2;
    margin-left: 70px;
    font-size: 22px;
    text-align: justify;
    width: 450px;
}
.box{
    height: 270px;
    width: 400px;
    background-color: #033430;
    margin-left: 350px;
    border-radius: 100px;
    border-bottom-left-radius: 0px;
}
.section2{
height: fit-content;
width: 48%;
background-color: #FFFFFF;
color: #001E2B;
border-radius: 50px;
}
.sign{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    font-weight: lighter;
}
.see{
    font-size: 20px;
    text-align: center;
}
input[type=text]{
    margin-left: 100px;
    width: 470px;
    background-color: #FAFBFC;
    height: 80px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
}
input[type=password]{
    margin-left: 100px;
    background-color: #FAFBFC;
    height: 80px;
    width: 470px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
}
input:focus{
    border: 8px solid rgb(110, 110, 223);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: blue;
    font-size: 13px;
    }
    input:focus::placeholder{
        color: blue;
    }
    .check{
        margin-top: 30px;
        margin-left: 100px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
.create{
    width: 440px;
    margin-left: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #00EC64;
    border: 1px solid black;
}
.signin{
    width: 440px;
    margin-left: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fcfcfc;
    border: 1px solid black;
}
.create:hover{
    border-radius: 100px;
}
.section2 .or, .login{
    text-align: center;
}
.signin:hover{
    border-radius: 100px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer ul{
    color: #00EC64;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
footer p{
    color: white;
}
@media screen and (min-width:200px) {
    .logo{
        width: 8.33%;
        width: 16.66%;
        width: 25%;
        width: 33.33%;
        width: 41.66%;
        width: 50%;
        width: 58.33%;
        width: 66.66%;
        width: 75%;
        width: 83.33%;
        width: 91.66%;
        width: 100%;
    }
}
@media screen and (max-width:1220px) {
    .section2{
        min-width: 40% !important;
        padding-left: 5%;
    }
    .section2 input[type = text],.section2 input[type = password]{
        min-width: 90%;
        margin: auto;
    }
    .create{
        width: 300px;
    }
    .signin{
        width: 300px;
    }
    .check{
        margin-left: 10px;
        width: 10%;
    }
    .section2 .signin, .section2 .create{
        width: 450px;
        margin-left: 10px;
        padding: 5%;
    }
}
@media screen and (max-width:1130px) {
    .section2{
        min-width: 40% !important;
        padding-left: 5%;
    }
    .section2 input[type = text],.section2 input[type = password]{
        width: 50%;
        margin: auto;
    }
    .check{
        margin-left: -25px;
        width: 60px;
    }
    .section2 .signin, .section2 .create{
        width: 400px;
        margin-left: 10px;
        padding: 5%;
    }
}
@media screen and (max-width:1080px) {
    .create{
    width: 300px;
    margin-left: 100px;
    }
    input[type=text]{
        margin-left: 70px;
        width: 400px;    
    }
    input[type=password]{
        margin-left: 70px;
        width: 400px;    
    }
    .check{
        margin-left: -10px;
    }
    .signin{
        width: 300px;
        margin-left: 100px;
    }
}
@media screen and (max-width:1020px) {
    .section1{
        height: 940px;
    }
    .myp{
        width: 380px;
    }
    input[type=text]{
        margin-left: 80px;
        width: 320px;    
    }
    input[type=password]{
        margin-left: 80px;
        width: 320px;    
    }
    .create{
        width: 250px;
        margin-left: 20px;
        }
    .signin{
        width: 250px;
        margin-left: 20px;
    }
    .check{
        margin-left: -10px;
    }
}
@media screen and (max-width:990px) {
    .section2{
        min-width: 40% !important;
        padding-left: 5%;
    }
    .section2 input[type = text],.section2 input[type = password]{
        width: 50%;
        margin: auto;
    }
    .check{
        margin-left: -25px;
        width: 60px;
    }
    .section2 .signin, .section2 .create{
        width: 350px;
        margin-left: 10px;
        padding: 5%;
    }
}
@media screen and (max-width:880px) {
    .section2{
        min-width: 40% !important;
        padding-left: 5%;
    }
    .section2 input[type = text],.section2 input[type = password]{
        width: 50%;
        margin: auto;
    }
    .myp{
        display: none;
    }
    
.check{
    margin-left: -25px;
width: 40px;
}
.section2 .signin, .section2 .create{
    width: 320px;
    margin-left: 10px;
    padding: 5%;
}
}
@media screen and (max-width:850px) {
    input[type=text]{
        margin-left: 40px;
        width: 330px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 40px;
    width: 330px;
    font-size: 25px;
}
}
@media screen and (max-width:800px) {
    .section1{
        display: none;
    }
    .section2{
        width: 100%;                
        padding-left: 5%;
            }
    .section2 input[type = text],.section2 input[type = password]{
     width: 50%;
    margin: auto;
            }
    .section2 .signin, .section2 .create{
    width: 450px;
    margin-left: 110px;
    padding: 5%;
            }
    .check{
        margin-left: -30px;
        width: 120px;
        font-size: 28px;
    }
    .checkp{
        margin-left: -50px;
        font-size: 20px;
    }
}
@media screen and (max-width:720px) {
    input[type=text]{
        margin-left: 100px;
        width: 500px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 100px;
    width: 500px;
    font-size: 25px;
}
.check{
    margin-left: -80px;
width: 220px;
}
.create{
    width: 450px;
    margin-left: 110px;
    }
    .signin{
        width: 450px;
        margin-left: 110px;
    }
}
@media screen and (max-width:620px) {
    .section2{
        width: 90%;
    }
    input[type=text]{
        margin-left: 70px;
        width: 470px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 70px;
    width: 470px;
    font-size: 25px;
}
.check{
    margin-left: -90px;
}
.section2 .signin, .section2 .create{
    width: 400px;
    margin-left: 50px;
    padding: 5%;
            }
}
@media screen and (max-width:570px) {
    .section2{
        width: 90%;
        margin: auto;
    }
    input[type=text]{
        margin-left: 65px;
        width: 420px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 65px;
    width: 420px;
    font-size: 25px;
}
.check{
    width: 190px;
}
.section2 .signin, .section2 .create{
    width: 370px;
    margin-left: 50px;
    padding: 5%;
            }
}
@media screen and (max-width:520px) { 
    .section2{
        width: 90%;
        margin: auto;
    }  
    input[type=text]{
        margin-left: 40px;
        width: 400px;
        font-size: 25px;
}
input[type=password]{
    margin-left: 40px;
    width: 400px;
    font-size: 25px;
}
.check{
    margin-left: -55px;
    width: 140px;
}
.section2 .signin, .section2 .create{
    width: 340px;
    margin-left: 30px;
    padding: 5%;
            }
}
@media screen and (max-width:450px) { 
    .section2{
        min-width: 90% !important;
        margin: auto !important;
        padding-left: 5%;
    }
    .section2 input[type = text],.section2 input[type = password]{
        width: 90%;
        margin: auto;
    }
    .section2 .create, .section2 .signin{
    width: 70%;
    margin-left: 30px;
    }
.check{
    width: 120px;
    margin-left: -60px;
}
}
@media screen and (max-width:420px) { 
    .section2{
        min-width: 90% !important;
        margin: auto !important;
        padding-left: 5%;
    }
    .section2 input[type = text],.section2 input[type = password]{
        min-width: 90%;
        margin: auto;
    }
    .section2 .create, .section2 .signin{
        margin-left: 40px;
        width: 280px;
    }
    .check{
        margin-left: -45px;
        width: 100px;
    }

}
@media screen and (max-width:390px) { 
    
    .section2 .create, .section2 .signin{
        margin-left: 40px;
        width: 270px;
    }
    .check{
        margin-left: -45px;
        width: 100px;
    }
    }
    @media screen and (max-width:350px) { 
        .section2 .create, .section2 .signin{
            margin-left: 40px;
            width: 200px;
        }
        .check{
            margin-left: -35px;
            width: 100px;
        }
    }
    @media screen and (max-width:280px) { 
        .section2 .create, .section2 .signin{
            margin-left: 10px;
            width: 200px;
        }
        .check{
            margin-left: -35px;
            width: 100px;
        }
        .login{
            font-size: 12px;
        }
    }
    @media screen and (max-width:240px) { 
        .section2 .create, .section2 .signin{
            margin-left: 10px;
            width: 170px;
        }
        .check{
            margin-left: -35px;
            width: 100px;
        }
        .login{
            text-align: justify;
        }
    }